html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', 'sans-serif';
}

a {
  text-decoration: none;
  color: #2aa9e0;
}

a:hover {
  text-decoration: underline;
  color: #2aa9e0;
}

div.ReactPivot {
  box-shadow: none;
}

div.ReactPivot table {
  font-size: 90%;
}

.alignRight {
  text-align: right;
}
